---
import BaseLayout from '../../layouts/BaseLayout.astro';
import CategoriesContent from '../../components/CategoriesContent.astro';
import { getCollection } from 'astro:content';
export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('blog');
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts, { pageSize: 100 });
}
const { page } = Astro.props;
const allCategoriesUnique = new Set();
page.data.map((post) => {
  post.data.category && allCategoriesUnique.add(post.data.category);
});
const sortedCategories = Array.from(allCategoriesUnique).sort();
---

<BaseLayout title="Blog">
  <div>
    <h3 class="text-3xl w-full font-bold mb-5 mt-10 underline">Blog</h3>
  </div>
  <div>
    <ul>
      {
        sortedCategories.map((category) => (
          <>
            <li
              tabindex="0"
              class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box mb-6 shadow-md"
            >
              <label for="collapse">
                <span class="sr-only">{category}</span>
              </label>
              <input id="collapse" aria-label="collapse" type="checkbox" />
              <div class="collapse-title text-xl font-medium">{category}</div>
              <CategoriesContent page={page} category={category} />
            </li>
          </>
        ))
      }
    </ul>
  </div>
</BaseLayout>
