---
import HorizontalCard from './HorizontalCard.astro';
const { page, category } = Astro.props;
---

<div class="collapse-content overflow-y-auto">
  <ul class="max-h-[35rem]">
    {
      page.data.map((post) => (
        <>
          {post.data.category == category && (
            <li>
              <HorizontalCard
                title={post.data.title}
                img={post.data.heroImg}
                tags={post.data.tags}
                desc={post.data.description}
                url={'/blog/' + post.slug}
                target="_self"
              />
              <div class="divider my-0" />
            </li>
          )}
        </>
      ))
    }
  </ul>
</div>
