---
export interface Props {
  content?: string;
}

import { Icon } from 'astro-icon';
const { content } = Astro.props;
---

<div class="alert bg-orange-400 text-info-content shadow-lg">
  <div>
    <div>
      <div class="flex items-center gap-2 -mt-4 -mb-8 ml-4">
        <Icon name="mdi:alert-circle-outline" size="24" />
        <p class="font-bold">Important:</p>
      </div>
      <p class="px-4">{content}</p>
    </div>
  </div>
</div>
