---
export interface Props {
  content?: string;
}
import { Icon } from 'astro-icon';
const { content } = Astro.props;
---

<div class="alert alert-info shadow-lg rounded-md">
  <div>
    <div>
      <div class="flex items-center gap-2 -mt-4 -mb-8 ml-3">
        <Icon name="mdi:pencil" size="24" />
        <p class="font-bold">Note:</p>
      </div>
      <p class="px-4">{content}</p>
    </div>
  </div>
</div>
