---
export interface Props {
  content?: string;
}

const { content } = Astro.props;
---

<div class="alert alert-info shadow-lg">
  <div>
    <div>
      <div class="flex items-center gap-2 -mt-4 -mb-8 ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
          ><path
            d="M19.769 9.923l-12.642 12.639-7.127 1.438 1.438-7.128 12.641-12.64 5.69 5.691zm1.414-1.414l2.817-2.82-5.691-5.689-2.816 2.817 5.69 5.692z"
          ></path></svg
        >
        <p class="font-bold">Note:</p>
      </div>
      <p class="px-4">{content}</p>
    </div>
  </div>
</div>
