---
export interface Props {
  content?: string;
}
import { Icon } from 'astro-icon';
const { content } = Astro.props;
---

<div class="alert bg-purple-400 text-info-content shadow-lg rounded-md">
  <div>
    <div>
      <div class="flex items-center gap-2 -mt-4 -mb-8 ml-3">
        <Icon name="mdi:comment-quote-outline" size="28" />

        <p class="font-bold">Quote:</p>
      </div>
      <p class="px-4">{content}</p>
    </div>
  </div>
</div>
