---
export interface Props {
  content?: string;
}
import { Icon } from 'astro-icon';
const { content } = Astro.props;
---

<div class="alert alert-success shadow-lg rounded-md">
  <div>
    <div>
      <div class="flex items-center gap-2 -mt-4 -mb-8 ml-3">
        <Icon name="mdi:check-circle-outline" size="24" />
        <p class="font-bold">Success:</p>
      </div>
      <p class="px-4">{content}</p>
    </div>
  </div>
</div>
